        @import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
        h1{
            padding:10px;
            background-color: black;
            color: aliceblue;
            font-family: "Single Day", cursive;
        }